[Desktop Entry]
Version=1.0
Type=Application
Name=Notas
Comment=
Exec=python notas.py
Icon=knotes
Path=/home/toti/Escritorio/Servidor/
Terminal=false
StartupNotify=false
